<article <% if (index && post.cover && post.cover.length) { %>
  style="
  background: linear-gradient(to left, rgba(255, 255, 255, 0.7) 0%,
  rgba(255, 255, 255, 0.9) 60%, rgba(255, 255, 255, 1) 100%),
  url('<%- url_for(post.cover[0]) %>');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    "
    <% } %> id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope
            itemprop="blogPost" data-scroll-reveal>

            <div class="article-inner" <% if (post.link || post.title){ %>
              <header class="article-header">
                <%- partial('post/title', {class_name: 'article-title' }) %>
              </header>
              <% } %>

                <% if (index || is_post()) { %>
                  <div class="article-meta">
                    <%- partial('post/date', {class_name: 'article-date' , date_format: null}) %>
                      <%- partial('post/category') %>
                  </div>
                  <% } %>

                    <% if (theme.toc && is_post()){ %>
                      <%- partial('post/tocbot') %>
                        <% } %>

                          <div class="article-entry" itemprop="articleBody">
                            <%- partial('post/justifiedGallery') %>
                              <%- partial('post/postcard') %>
                                <!-- <% if (index){ %>
        <%- partial('post/gallery') %>
      <% } %> -->
                                <% if (post.excerpt && index){ %>
                                  <%- post.excerpt %>
                                    <% if (theme.excerpt_link){ %>
                                      <p>
                                        <a class="article-more-link" href="<%- url_for(post.path) %>">
                                          <%= theme.excerpt_link %>
                                        </a>
                                      </p>
                                      <% } %>
                                        <% } else { %>
                                          <%- post.content %>
                                            <% } %>
                          </div>
                          <footer class="article-footer">
                            <%- partial('post/tag') %>
                          </footer>

            </div>

            <% if (!index){ %>
              <%- partial('post/nav') %>
                <% } %>

                  <% if (is_post()) { %>
                    <%- partial('post/valine') %>
                      <%- partial('post/gitalk') %>
                        <%} %>

</article>

<style>
  @font-face {
    font-family: 'SongHuiZongShouJinJiaCuBan-2';
    src: url("/css/songhuizong/SongHuiZongShouJinJiaCuBan-2.woff") format('woff'),
      url("/css/songhuizong/SongHuiZongShouJinJiaCuBan-2.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .article-inner {
    position: relative;
    overflow: hidden;
    /* 确保内容不会覆盖背景图 */
  }

  h1 a {
    font-family: "SongHuiZongShouJinJiaCuBan-2", "Aa宋徽宗瘦金加粗版 (非商业使用)", "STSong", "SimSun", "Helvetica", "Arial", sans-serif;
  }
</style>