 
<section class="outer" style="min-height:90vh">
    <% if (site.categories.length){ %>
        <h1 class="page-type-title"><%= __('categories') %></h1>
        <p class="category-count">目前共有<strong><%= site.categories.length %></strong>个分类，<strong><%= site.tags.length %></strong>个标签</p> <!-- 显示分类数量 -->
        <div class="categories-container">
          <table>
            <tbody>
              <% site.categories.forEach(function(category) { %>
                <tr>
                  <td>
                    <a href="/categories/<%= category.slug %>" class="category-link">
                      *&nbsp;&nbsp;&nbsp;<%= category.name %>
                    </a>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      <% } %>
    <div class="tag-cloud-container">
        <div class="layout-wrap-inner tag-cloud tag-link">
            <% if(site.tags.length) { %>
                <%- tagcloud({min_font: 15, max_font: 24}) %>
            <% } %>
        </div>
    </div>
</section>



<style>
        .page-type-title{
      margin-bottom: 20px;
    }
    .categories-container {
      width: 100%; /* 设置容器宽度 */
      justify-content: center;
      margin: 20px 0 0 5vw;
    }
  
    .category-link {
      text-decoration: none; /* 去除链接的下划线 */
      color: inherit; /* 继承父元素的颜色 */
      font-weight: bold; /* 设置文本粗体 */
      font-size: 16px; /* 设置文本大小 */
    }
  
    .category-count{
      text-align: center; 
    }
    table {
      width: 100%; /* 表格宽度为容器宽度 */
      border-collapse: collapse; /* 合并单元格边框 */
    }
    td {
      padding:5px 0 20px 3vw; /* 设置单元格内边距 */
      border-left: 3px dashed grey;
      /* text-align: center; 文本居中 */
    }
  .tags-container {
  width: 100%; /* 设置容器宽度 */
  padding: 10px;
}
.tag-link {
  text-decoration: none; /* 去除链接的下划线 */
}

.tag-cloud-container {
    max-width: 800px; /* 设置标签云容器的最大宽度 */
    margin: 5vh auto; /* 将标签云容器居中显示 */
}

.tag-cloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* 将标签云内的标签水平居中显示 */
    align-items: center; /* 垂直居中 */
}

.tag-cloud a {
    margin: 20px; /* 设置标签之间的间距 */
    text-decoration: none;
    color: #333; /* 设置标签的文字颜色 */
    font-family: "SongHuiZongShouJinJiaCuBan-2", "Aa宋徽宗瘦金加粗版 (非商业使用)";
    font-size: 16px; /* 设置标签的默认字体大小 */
}


</style>
